<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <link rel="stylesheet" href="/css/in_log_sign.css">
</head>

<body>
    <%- include('../templates/header.ejs') %>
        <div class="index-msg">
            <a>
                <% if (msg !=null || msg!=undefined){%>
                    <%=msg%>
                        <%}%>
            </a>
        </div>
        <%- include('../templates/footer.ejs') %>
</body>