<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <link rel="stylesheet" href="/css/in_log_sign.css">
</head>

<body>
    <%- include('../templates/header.ejs') %>
        <div class="login-form">
            <form action="/reset_password" method="POST">
                <h1>Reset Password</h1>
                <input type="text" autocomplete="off" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'" name='username' placeholder="Username">
                <input type="email" autocomplete="off" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mail-ID'" name="mail_id" placeholder="Mail-ID">
                <div class="enter-feed-btn">
                    <a href="/feedback">Feedback</a>
                    <input type="submit" value=" Sumbit ">
                    <p>
                        <% if (error !=null || error!=undefined){%>
                            Error :
                            <%=error%>
                                <%}%>
                    </p>
                </div>
            </form>
        </div>
        <%- include('../templates/footer.ejs') %>
</body>