<header>
    <div class="main-header">
        <div>
            <a href="/">
                <h1>S M</h1>
            </a>
        </div>
        <div class="main-btn">
            <a href="/login">Login</a>
            <a href="/signup">SignUp</a>
        </div>
    </div>
</header>